﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding:5px;
    border-radius:8px;
}

.subbutton {
    font-size: 18px;
}

.subh {
    margin-top: 20px;
    margin-left: 100px;
}

@media (min-width: 786px) {
    .dl-horizontal dt {
        width:280px;
        white-space: normal;
    }
    .dl-horizontal dd {
        margin-left:300px;
    }
}

.username {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    position: relative;
    display: block;
    padding-left: 15px;
    padding-right: 10px;
    color: #428bca;
    text-decoration: none;
}