﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Приложение АСТРА</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item subbutton">@Html.ActionLink("Главная страница", "Index", "Home", new { area = "" }, null)</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item subbutton">@Html.ActionLink("Личный кабинет", "Index", "Court", new { area = "" }, null)</li>
                        if (Session["isAdmin"] != null && (bool)Session["isAdmin"])
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle subbutton" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Списки <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="subbutton">@Html.ActionLink("Пользователи", "UserList", "Account", new { area = "" }, null)</li>
                                    <li class="subbutton">@Html.ActionLink("Страны", "CountryList", "Court", new { area = "" }, null)</li>
                                    <li class="subbutton">@Html.ActionLink("Коллегии", "CollegiateList", "Court", new { area = "" }, null)</li>
                                    <li class="subbutton">@Html.ActionLink("Причины споров", "ReasonList", "Court", new { area = "" }, null)</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item subbutton"><div class="username">@User.Identity.Name</div></li>
                        <li class="nav-item subbutton">@Html.ActionLink("Выйти", "Logout", "Account", new { area = "" }, null)</li>
                    }
                    else
                    {
                        <li class="nav-item subbutton">@Html.ActionLink("Авторизация", "Login", "Account", new { area = "" }, null)</li>
                        <li class="nav-item subbutton">@Html.ActionLink("Регистрация", "Registration", "Account", new { area = "" }, null)</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Приложение АСТРА</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>