﻿@model CourtDataStorage.Tables.Claim

<div>
    <h4>Иск</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Коллегия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collegiate.Name)
        </dd>

        <dt>
            Причина
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason.Name)
        </dd>

        <dt>
            Является коммерческим
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCommercial)
        </dd>

        <dt>
            Не является устным
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotVerbal)
        </dd>

        <dt>
            Состав коллегиата?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCollegiate)
        </dd>

    </dl>
</div>
