﻿@model CourtDataStorage.Tables.Participant

<div>
    <h4>Истец</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Individual != null)
        {
            @Html.Partial("IndividualPartial", Model.Individual)
        }
        @if (Model.Physical != null)
        {
            @Html.Partial("PhysicalPartial", Model.Physical)
        }
        @if (Model.Juridical != null)
        {
            @Html.Partial("JuridicalPartial", Model.Juridical)
        }

    </dl>
</div>
