﻿@model CourtDataStorage.Tables.ClaimReason

@{
    if (Model == null || Model.Id < 0)
    {
        ViewBag.Title = "Новая причина";
    }
    else
    {
        ViewBag.Title = "Редактировать причину";
    }
}

<h2>
    @Html.ActionLink("Назад", "ReasonList", "Court", new { area = "" }, new { @class = "btn btn-default" })
    @if (Model == null || Model.Id < 0)
    {
        <text>Новая причина</text>
    }
    else
    {
        <text>Редактировать причину</text>
    }
</h2>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Причина</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model=>model.Deleted)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
