﻿@model CourtDataStorage.Tables.Country

@{
    if (Model == null || Model.Id < 0)
    {
        ViewBag.Title = "Новая страна";
    }
    else
    {
        ViewBag.Title = "Редактировать страну";
    }
}

<h2>
    @Html.ActionLink("Назад", "CountryList", "Court", new { area = "" }, new { @class = "btn btn-default" })
    @if (Model == null || Model.Id < 0)
    {
        <text>Новая страна</text>
    }
    else
    {
        <text>Редактировать страну</text>
    }
</h2>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Страна</h4>
        <hr />
        @Html.HiddenFor(model => model.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model=>model.Deleted)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
