﻿@model Court.Models.ForwardModel

@{
    ViewBag.Title = "Обработка иска";
}
<h2>
    @Html.ActionLink("Назад", "Index", "Court", new { area = "" }, new { @class = "btn btn-default" }) Оработка
</h2>
<hr />

@using (Html.BeginForm("Resolve", "Court", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Укажите результат иска</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CaseId)
        @{
            List<SelectListItem> items = new List<SelectListItem>();
            items.Add(new SelectListItem()
            {
                Value = "0",
                Text = "Иск подан"
            });
            items.Add(new SelectListItem()
            {
                Value = "1",
                Text = "Иск принят"
            });
            items.Add(new SelectListItem()
            {
                Value = "2",
                Text = "Иск отклонён"
            });
            items.Add(new SelectListItem()
            {
                Value = "3",
                Text = "Вынесено решение"
            });
        }
        <div class="form-group">
            @Html.LabelFor(model => model.ActionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ActionId, new SelectList(items, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActionId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model != null && Model.AttachmentName != null)
        {
            <div class="form-group">
                <label class="control-label col-md-2">Приложение</label>
                <div class="col-md-10">
                    <a href="/Court/Download?id=@Model.CaseId" class="btn btn-default btn-xs">Скачать @Model.AttachmentName</a>
                    <a href="/Court/Delete?id=@Model.CaseId" class="btn btn-default btn-xs">Удалить приложение</a>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Заменить приложение</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Attachment, new { type = "file" })
                    @Html.ValidationMessageFor(model => model.Attachment, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Attachment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Attachment, new { type = "file" })
                    @Html.ValidationMessageFor(model => model.Attachment, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
            }
@{
    CourtDataStorage.CourtManager manager = new CourtDataStorage.CourtManager(false);
    CourtDataStorage.Tables.CourtCase courtCase = manager.GetCase(Model.CaseId);
    @Html.Partial("View", courtCase);
}


