﻿@model IEnumerable<CourtDataStorage.Tables.CourtCase>

@{
    ViewBag.Title = "Личный кабинет пользователя";
}

<h2>Личный кабинет</h2>

<table class="table">
    <tr>
        <th>
           Дата подачи иска
        </th>
        <th>
            Номер иска
        </th>
        <th>
            Истец
        </th>
        <th>
            Дата принятия решения
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        String styleString = "";
        String toolTip = "";
        if (item.Decision.HasValue)
        {
            if (item.Decision.Value == CourtDataStorage.Tables.Decision.Refused)
            {
                styleString = "style=\"background-color:#ff757b\"";
                if (item.Commentary != null) {
                    toolTip = item.Commentary;
                }
            }
            else if (item.Decision.Value == CourtDataStorage.Tables.Decision.Accepted)
            {
                styleString = "style=\"background-color:#75d5ff\"";
                if (item.Commentary != null)
                {
                    toolTip = item.Commentary;
                }
            }
            else if (item.Decision.Value == CourtDataStorage.Tables.Decision.Closed)
            {
                styleString = "style=\"background-color:#9eff75\"";
                if (item.Commentary != null)
                {
                    toolTip = item.Commentary;
                }
            }
        }

        <tr @Html.Raw(styleString) data-toggle="tooltip" title="@toolTip">
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNumber)
            </td>
            <td>
                @if (item.Claimant.Individual != null)
                {
                    @item.Claimant.Individual.LastName<text> ИП</text>
                }
                else if (item.Claimant.Juridical != null)
                {
                    @Html.DisplayFor(modelItem => item.Claimant.Juridical.FullName)
                }
                else if (item.Claimant.Physical != null)
                {
                    @Html.DisplayFor(modelItem => item.Claimant.Physical.LastName)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerdictDate)
            </td>
            <td>
                @Html.ActionLink("Просмотреть", "Resolve", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
            </td>
        </tr>
    }


</table>

<a href="/Court/NewCase" class="btn btn-default">Добавить новое дело</a>