﻿@model CourtDataStorage.Tables.Juridical

<div>
    <h4>Юридическое лицо</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ИНН
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INN)
        </dd>

        <dt>
            Полное наименование организации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            Сокращённое наименование организации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            Подразделение
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubDivision)
        </dd>

        <dt>
            ОГРН
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OGRN)
        </dd>

        <dt>
            Дата регистрации
        </dt>

        <dd>
            @if (Model.RegistrationDate.HasValue)
            {
                @Model.RegistrationDate.Value.ToString("dd-MM-yyyy")
            }
        </dd>

        <dt>
            Место регистрации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationPlace)
        </dd>

        <dt>
            Состояние регистрации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationStatus)
        </dd>

        <dt>
            Страна
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Country.Name)
        </dd>

        <dt>
            Город
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            Улица
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            Дом
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.House)
        </dd>

        <dt>
            Индекс
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Index)
        </dd>

        <dt>
            ФИО контактного лица
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactFullName)
        </dd>

        <dt>
            Моб.тел. контактного лица
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactMobilePhoneNumber)
        </dd>

        <dt>
            Раб.тел. контактного лица
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactWorkPhoneNumber)
        </dd>

        <dt>
            Email контактного лица
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

    </dl>
</div>
