﻿@model Court.Models.ClaimModel

@{
    ViewBag.Title = "Добавить иск";
}

<h2>Добавить иск</h2>
<div style="display:inline-block; float:left; margin-right:20px; width:500px">
    @using (Html.BeginForm("SaveClaim", "Court"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Заполните данные</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            

            <div class="form-group">
                @{
                    CourtDataStorage.CourtManager manager = new CourtDataStorage.CourtManager(false);
                    List<CourtDataStorage.Tables.Collegiate> collegiates = manager.GetAllCollegiates();
                    List<CourtDataStorage.Tables.ClaimReason> claimReasons = manager.GetAllClaimReasons();
                }
                @Html.LabelFor(model => model.CollegiateNumber, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.DropDownListFor(model => model.CollegiateNumber,
                         new SelectList(collegiates, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CollegiateNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReasonNumber, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.DropDownListFor(model => model.ReasonNumber, new SelectList(claimReasons, "Id", "Name")
               , htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReasonNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsCommercial, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsCommercial)
                        @Html.ValidationMessageFor(model => model.IsCommercial, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NotVerbal, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.NotVerbal)
                        @Html.ValidationMessageFor(model => model.NotVerbal, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsCollegiate, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsCollegiate)
                        @Html.ValidationMessageFor(model => model.IsCollegiate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>
                    }
</div>
<div style="display:inline-block">
    @Html.Partial("View", Session["court-case"] as CourtDataStorage.Tables.CourtCase)
</div>
