﻿@using Court.Models
@model object
@{
    ViewBag.Title = "Добавить ответчика";
}

<h2>Добавить ответчика</h2>

<div style="display:inline-block; float:left; margin-right:20px">
    <ul class="nav nav-tabs">
        <li @(Model == null || Model is IndividualModel ? "class=\"active\"" : "")><a data-toggle="tab" href="#home">Индивидуальный предприниматель</a></li>
        <li @(Model is PhysicalModel ? "class=\"active\"" : "")><a data-toggle="tab" href="#menu1">Физическое лицо</a></li>
        <li @(Model is PhysicalModel ? "class=\"active\"" : "")><a data-toggle="tab" href="#menu2">Юридическое лицо</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade @(Model == null || Model is IndividualModel ? "in active" : "")">
            <h3>Индивидуальный предприниматель</h3>
            @if (Model != null && Model is IndividualModel)
            {
                @Html.Partial("IndividualRespondent")
            }
            else
            {
                @Html.Partial("IndividualRespondent", new IndividualModel())
            }
        </div>
        <div id="menu1" class="tab-pane fade @(Model is PhysicalModel ? "in active" : "")">
            <h3>Физическое лицо</h3>
            @if (Model != null && Model is PhysicalModel)
            {
                @Html.Partial("PhysicalRespondent")
            }
            else
            {
                @Html.Partial("PhysicalRespondent", new PhysicalModel())
            }
        </div>
        <div id="menu2" class="tab-pane fade @(Model is JuridicialModel ? "in active" : "")">
            <h3>Юридическое лицо</h3>
            @if (Model != null && Model is JuridicialModel)
            {
                @Html.Partial("JuridicialRespondent")
            }
            else
            {
                @Html.Partial("JuridicialRespondent", new JuridicialModel())
            }
        </div>
    </div>
</div>
<div style="display:inline-block; margin-top:-8px">
    @{
        CourtDataStorage.Tables.CourtCase courtCase = Session["court-case"] as CourtDataStorage.Tables.CourtCase;
    }
    @Html.Partial("View", courtCase)
</div>
<br />
@if (courtCase.Respondents != null && courtCase.Respondents.Count > 0)
{
<a href="/Court/NewClaim" class="btn btn-default">Перейти к подаче иска</a>
}
else
{
    <a href="#" onclick="alert('Добавьте ответчика')" class="btn btn-default">Перейти к подаче иска</a>
}