﻿@model CourtDataStorage.Tables.Physical

<div>
    <h4>Физическое лицо</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            Дата рождения
        </dt>

        <dd>
            @if (Model.BirthDate.HasValue)
            {
                @Model.BirthDate.Value.ToString("dd-MM-yyyy")
            }
        </dd>

        <dt>
            Место рождения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>

        <dt>
            Гражданство
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizenship.Name)
        </dd>

        <dt>
            Страна
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Country.Name)
        </dd>

        <dt>
            Город
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            Улица
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            Дом
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.House)
        </dd>

        <dt>
            Индекс
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.Index)
        </dd>

    </dl>
</div>
