﻿@model IEnumerable<CourtDataStorage.Tables.ClaimReason>

@{
    ViewBag.Title = "Причины споров";
}

<h2>Причины споров</h2>

<p>
    @Html.ActionLink("Новая причина", "EditReason", new { id = -1 }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("Edit", "EditReason", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                    @if (i > 0)
                {
                            @Html.ActionLink("Delete", "DeleteReason", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                    }
                    </div>
</td>
        </tr>
        i++;
    }

</table>
