﻿@model IEnumerable<CourtDataStorage.Tables.CourtCase>

@{
    ViewBag.Title = "Работа с исками";
}

<h2>Работа с исками</h2>

<table class="table">
    <tr>
        <th>
            Номер дела
        </th>
        <th>
            Дата собрания
        </th>
        <th>
            Решение
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseNumber)
            </td>
            <td>
                @if (item.GatheringDate.HasValue)
                {
                    @item.GatheringDate.Value.ToString("dd-MM-yyyy")
                }
            </td>
            <td>
                @if (!item.Decision.HasValue)
                {
                    <text>Решение не принято</text>
                }
                else if (item.Decision.Value == CourtDataStorage.Tables.Decision.Refused)
                {
                    <text>Иск отклонён</text>
                }
                else if (item.Decision.Value == CourtDataStorage.Tables.Decision.Accepted)
                {
                    <text>Иск принят</text>
                }
                else if (item.Decision.Value == CourtDataStorage.Tables.Decision.Submitted)
                {
                    <text>Иск подан</text>
                }
                else if (item.Decision.Value == CourtDataStorage.Tables.Decision.Closed)
                {
                    <text>Иск рассмотрен</text>
                }
            </td>
            <td>
                @Html.ActionLink("Обработать", "Resolve", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
            </td>
        </tr>
    }

</table>
