﻿@model CourtDataStorage.Tables.CourtCase

<div>
    <h4>Дело</h4>
    <hr />
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#case">Дело</a></li>
        @if (Model != null)
        {
            if (Model.Claimant != null)
            {
                <li><a data-toggle="tab" href="#claimant">Истец</a></li>
            }
            if (Model.Respondents != null)
            {
                <li><a data-toggle="tab" href="#respondents">Ответчики</a></li>
            }
            if (Model.Claim != null)
            {
                <li><a data-toggle="tab" href="#claim">Иск</a></li>
            }
        }
    </ul>
    <div class="tab-content">
        <div id="case" class="tab-pane fade in active">
            <dl class="dl-horizontal">
                <dt>
                    Номер дела
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CaseNumber)
                </dd>

                <dt>
                    Дата подачи
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SubmissionDate)
                </dd>

                <dt>
                    Дата заседания
                </dt>

                <dd>
                    @if (Model != null && Model.GatheringDate.HasValue)
                    {
                        @Model.GatheringDate.Value.ToString("dd-MM-yyyy")
                    }
                </dd>

                <dt>
                    Состояние дела
                </dt>

                <dd>
                    @if (Model != null)
                {
                    if (!Model.Decision.HasValue)
                    {
                        <text>Решение не принято</text>
                    }
                    else if (Model.Decision.Value == CourtDataStorage.Tables.Decision.Refused)
                    {
                        <text>Иск отклонён</text>
                    }
                    else if (Model.Decision.Value == CourtDataStorage.Tables.Decision.Accepted)
                    {
                        <text>Иск принят</text>
                    }
                    else if (Model.Decision.Value == CourtDataStorage.Tables.Decision.Submitted)
                    {
                        <text>Иск подан</text>
                    }
                    else if (Model.Decision.Value == CourtDataStorage.Tables.Decision.Closed)
                    {
                        <text>Иск рассмотрен</text>
                    }
                }
                </dd>

                <dt>
                    Дата принятия решения
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VerdictDate)
                </dd>
                @if (Model != null && Model.Attachment != null && (Model.Decision == CourtDataStorage.Tables.Decision.Closed || Model.Decision == CourtDataStorage.Tables.Decision.Refused))
                {
                    <dt>
                        Приложение
                    </dt>
                    <dd>
                        <a href="/Court/Download?id=@Model.Id">Скачать</a>
                    </dd>
                }
            </dl>
        </div>
        @if (Model != null)
        {
            if (Model.Claimant != null)
            {
                <div id="claimant" class="tab-pane fade">
                    @Html.Partial("ClaimantView", Model.Claimant)
                </div>
            }
            if (Model.Respondents != null)
            {
                <div id="respondents" class="tab-pane fade">

                    <h4>Ответчики</h4>
                    <hr />
                    @foreach (CourtDataStorage.Tables.Participant respondent in Model.Respondents)
                    {
                        if (respondent.Individual != null)
                        {
                            @Html.Partial("IndividualPartial", respondent.Individual)
                        }
                        if (respondent.Physical != null)
                        {
                            @Html.Partial("PhysicalPartial", respondent.Physical)
                        }
                        if (respondent.Juridical != null)
                        {
                            @Html.Partial("JuridicalPartial", respondent.Juridical)
                        }
                    }
                </div>
            }
            if (Model.Claim != null)
            {
                <div id="claim" class="tab-pane fade">
                    @Html.Partial("ClaimPartial", Model.Claim)
                </div>
            }
        }
    </div>
</div>
