﻿@model Court.Models.ForwardModel

@{
    ViewBag.Title = "Просмотр иска";
}
<h2>
    @Html.ActionLink("Назад", "Index", "Court", new { area = "" }, new { @class = "btn btn-default" }) Просмотр иска
</h2>
<hr />
@{
    CourtDataStorage.CourtManager manager = new CourtDataStorage.CourtManager(false);
    CourtDataStorage.Tables.CourtCase courtCase = manager.GetCase(Model.CaseId);
    @Html.Partial("View", courtCase);
}