﻿@model IEnumerable<CourtDataStorage.Tables.CourtUser>

@{
    ViewBag.Title = "Список пользователей";
}

<h2>Список пользователей</h2>

<table class="table">
    <tr>
        <th>
            Имя пользователя
        </th>
        <th>
            Уровень доступа
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            <div class="btn-group">
                @Html.ActionLink("Сделать администратором", "UpdateStatus", new { id = item.Id, level = CourtDataStorage.Tables.AccessLevel.Administrator }, new { @class = "btn btn-default btn-xs" })
                @Html.ActionLink("Сделать секретарем", "UpdateStatus", new { id = item.Id, level = CourtDataStorage.Tables.AccessLevel.Secretary }, new { @class = "btn btn-default btn-xs" })
                @Html.ActionLink("Сделать пользователем", "UpdateStatus", new { id = item.Id, level = CourtDataStorage.Tables.AccessLevel.User }, new { @class = "btn btn-default btn-xs" })
            </div>
</td>
    </tr>
}

</table>
